<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <div class="border rounded-3 border-2 border-primary mt-5 p-3">
                    <h4 id="question-text" class="p-2 text-center"></h4>
                    <div class="d-grid gap-2 mt-4 mb-2 col-xl-8 col-md-10 col-12 mx-auto">
                        <button id="option-button-1" class="btn btn-outline-primary py-3"></button>
                        <button id="option-button-2" class="btn btn-outline-primary py-3"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/conduct.js">
    </script>