<% layout('layouts/boilerplate') %>
<div class="tab container mb-5">
    <div class="row">
        <div
            class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 border rounded-3 border-2 border-primary mt-5 p-3">
            <div class="mt-3 mb-5 text-center">
                <h3>채점기준을 입력해 주세요.</h3>
                <h5 class="text-muted">예) 에너지 방향 기준점수 3점 미만(0~2점) I, 3점 이상 E</h6>
            </div>
            <div id="second-question">
                <div class="row mb-3">
                    <div class="col-10 offset-1">
                        <h6>채점기준 <span class="text-muted">예)에너지 방향</span></h6>
                        <input class="form-control" id="criteria-preference" type="text" name="criteria[name]">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-10 offset-1">
                        <h6>기준점수</h6>
                        <input class="form-control" id="criteria-standard-score" type="number" min="0"
                            name="criteria[standardScore]">

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-10 offset-1">
                        <h6>기준점수 미만</h6>
                        <input class="form-control" id="criteria-below-standard-is" type="text"
                            placeholder="type1" name="criteria[belowStandardIs]">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-10 offset-1">
                        <h6>기준점수 이상</h6>
                        <input class="form-control" id="criteria-standard-and-above-is" type="text"
                            placeholder="type2" name="criteria[standardAndAboveIs]">
                    </div>
                    <div id="criteria-empty-input-alert" class="col-10 offset-1 alert alert-primary my-4"
                        style="display: none;" role="alert">
                        모든 값을 입력한 후에 추가해 주세요.
                    </div>
                    <div id="criteria-same-input-alert" class="col-10 offset-1 alert alert-primary my-4"
                        style="display: none;" role="alert">
                        기준점수 미만과 기준점수 이상이 같은 값일 수 없습니다.
                    </div>
                    <div class="col-10 offset-1 d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-3">
                        <button id="add-criteria-button" class="btn btn-outline-primary text-wrap"
                            type="button">채점기준 추가</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="finished-criteria-div" class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 mt-5">
        </div>
    </div>
</div>
