<% layout('layouts/boilerplate') %>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3 border rounded-3 border-2 border-primary mt-5 p-3">
                <div class="mb-4 mt-4">
                    <h1 class="text-center">대담한 통솔자</h1>
                    <h2 class="text-center">ENTJ</h2>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1613186145425-5bb4eca455d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                        alt="" class="card-img-top px-5 mb-4">
                </div>
                <div class="px-5 mb-4">
                    <p>
                        통솔자형 사람은 천성적으로 타고난 리더입니다. 이 유형에 속하는 사람은 넘치는 카리스마와 자신감으로 공통의 목표 실현을 위해 다른 이들을 이끌고 진두지휘합니다. 예민한
                        성격의
                        사회운동가형 사람과 달리 이들은 진취적인 생각과 결정력, 그리고 냉철한 판단력으로 그들이 세운 목표 달성을 위해 가끔은 무모하리만치 이성적 사고를 하는 것이 특징입니다.
                        이들이
                        인구의 단 3%에 지나지 않는 것이 어쩌면 다행일 수도 있습니다. 그렇지 않으면 인구 대다수를 차지하는 소심하고 섬세한 성향의 사람들이 모두 주눅 들어 살지도 모르니까요.
                        단,
                        평소 잊고 살기는 하나 우리 삶을 윤택하게 해주는 위대한 사업가나 기관을 이끄는 통솔자형 사람들이 있음에 다행이기도 합니다.
                    </p>

                </div>
            </div>
        </div>
    </div>