<% layout('layouts/boilerplate') %>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3 border rounded-3 border-2 border-primary mt-5 p-3">
                <div class="mb-4 mt-4">
                    <h1 class="text-center">
                        <%= result.resultName %>
                    </h1>
                    <h2 class="text-center">
                        <%= result.resultType %>
                    </h2>
                </div>
                <div class="px-5 mb-4">
                    <p>
                        <%= result.description %>
                    </p>

                </div>
            </div>
        </div>
    </div>