<% layout('layouts/boilerplate') %>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3 mt-5 p-3 d-flex justify-content-center">
            <h2>
                페이지를 찾을 수 없습니다.
            </h2>
        </div>
    </div>
</div>
