<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI 테스트 만들기</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="container cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="/register">회원가입</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">로그인</a>
                        </li>
                    </ul>    
                </div>
            </div>
        </nav>
        <main class="px-3 row">
            <h1 class="mt-5">나만의 MBTI 만들기</h1>
            <p class="lead"> <br> 내 마음대로 MBTI 테스트를 만들어 보세요! <br></p>
            <div class="mt-5 ">
                <div class="col-md-8 offset-md-2 col-xl-4 offset-xl-4 d-grid mx-auto">
                    <a href="/tests/new" class=" btn btn-lg btn-secondary m-2">
                        <div class="font-weight-bold fs-3">
                            비회원 테스트 만들기
                        </div>
                        <div class="fs-5 mt-2">
                            (URL 링크로 테스트 저장)
                        </div>
                    </a>
                </div>
                <div class="col-md-8 offset-md-2 col-xl-4 offset-xl-4 d-grid mx-auto mt-3">
                    <a href="/tests/new" class=" btn btn-lg btn-secondary font-weight-bold m-2">
                        <div class="font-weight-bold fs-3">
                            회원 테스트 만들기
                        </div>
                        <div class="fs-5 mt-2">
                            (계정에 테스트 저장)
                        </div>
                    </a>
                </div>
            </div>
        </main>

        <footer class="footer bg-dark py-3 mt-5">
            <p class="text-muted">&copy; 2021 makeMBTItest</p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>

</body>

</html>