<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <h2 class="text-center">테스트 만들기 완료</h2>
                <h4 class="text-center text-primary">아래의 MBTI 테스트의 링크를 꼭 저장하세요.</h4>
                <div class="border rounded-3 border-2 border-primary mt-5 p-3">
                    <div class="border rounded-3 border-1 border-grey mb-2">
                        <p id="testURL" class="p-2">www.naver.com</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button id="copy-url-button" class="btn btn-outline-primary m-1">URL 복사</button>
                        <button id="move-to-test-button" class="btn btn-outline-primary m-1">테스트로 이동</button>
                    </div>
                </div>
            </div>
        </div>

    </div>