<% layout('layouts/boilerplate') %>

<div class="container mb-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3 mt-5 p-3 d-flex justify-content-center">
            <div class="text-center">
                <h2>
                    접근 권한이 없는 페이지입니다.
                </h2>
                <% if(!currentUser) {%>      
                <h5 class="mt-3">로그인 후 이용해주시기 바랍니다.</h5>    
                <% } %> 
            </div>
        </div>
        <% if(!currentUser) { %> 
        <div class="d-flex justify-content-center mt-4">
            <a href="/register" class="btn btn-lg btn-outline-primary mx-2">회원가입</a>
            <a href="/login" class="btn btn-lg btn-outline-primary mx-4">로그인</a>    
        </div>
        <% } %> 
    </div>
</div>
