<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <div class="border rounded-3 border-2 border-primary mt-5 p-3">
                    <h4 id="question-h4" class="p-2 text-center">삐- 미지의 행성 도착. 나의 행동은?</h4>
                    <div class="d-grid gap-2 mt-4 mb-2 col-xl-8 col-md-10 col-12 mx-auto">
                        <button id="option-button-1" class="btn btn-outline-primary py-3">우주선 생존 매뉴얼을 찾는다.</button>
                        <button id="option-button-2" class="btn btn-outline-primary py-3">일단 우주선 밖을 나가서 살펴본다.</button>
                    </div>
                    <div class="d-flex justify-content-between mt-4 px-4">
                        <button id="before-button" class="btn btn-primary m-1">이전</button>
                        <button id="next-button" class="btn btn-primary m-1">다음</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/question.js">
    </script>