<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h3 class="mt-2 mb-2">개인 페이지</h3>
        </div>    
        <div class="card col-md-8 offset-md-2 col-xl-6 offset-xl-3 border rounded-3 border-2 border-primary mt-5 p-3">
            <a href="/changePassword" class="btn">비밀번호 변경</a>
            <hr class="mx-5">
            <a href="/changeNickname" class="btn">별명 변경</a>
            <hr class="mx-5">
            <a href="/usertests" class="btn">내 테스트 목록</a>
        </div>
    </div>
</div>