<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h2 class="mt-2 mb-5">내 테스트 목록</h3>
        </div>
        <div class="col-md-10 offset-md-1 col-xl-8 offset-md-2 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xl-6 p-2">
                        <div class="card p-2">
                            <div class="card-body">
                                <h5 class="card-title mb-3 fw-bold">테스트 이름</h5>
                                <p class="card-text text-muted">테스트 설명입니다. 이 테스트는 영국에서 출발하여 한국에 도착하였고 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa natus soluta. Ad est tempora incidunt sequi voluptatem corrupti dicta quas, sint nihil sit, obcaecati cumque quae excepturi error tempore.</p>    
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-8 col-xl-6 p-2">
                        <div class="card p-2">
                            <div class="card-body">
                                <h5 class="card-title mb-3 fw-bold">테스트 이름</h5>
                                <p class="card-text text-muted">테스트 설명입니다. 이 테스트는 영국에서 출발하여 한국에 도착하였고 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa natus soluta. Ad est tempora incidunt sequi voluptatem corrupti dicta quas, sint nihil sit, obcaecati cumque quae excepturi error tempore.</p>    
                            </div>
                        </div>
                    </div> 

                    <div class="col-md-8 col-xl-6 p-2">
                        <div class="card p-2">
                            <div class="card-body">
                                <h5 class="card-title mb-3 fw-bold">테스트 이름</h5>
                                <p class="card-text text-muted">테스트 설명입니다. 이 테스트는 영국에서 출발하여 한국에 도착하였고 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa natus soluta. Ad est tempora incidunt sequi voluptatem corrupti dicta quas, sint nihil sit, obcaecati cumque quae excepturi error tempore.</p>    
                            </div>
                        </div>
                    </div> 

                    <div class="col-md-8 col-xl-6 p-2">
                        <div class="card p-2">
                            <div class="card-body">
                                <h5 class="card-title mb-3 fw-bold">테스트 이름</h5>
                                <p class="card-text text-muted">테스트 설명입니다. 이 테스트는 영국에서 출발하여 한국에 도착하였고 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa natus soluta. Ad est tempora incidunt sequi voluptatem corrupti dicta quas, sint nihil sit, obcaecati cumque quae excepturi error tempore.</p>    
                            </div>
                        </div>
                    </div> 

                </div>
            </div>


        </div>    
    </div>
</div>